.player {
    display: flex;
    align-items: center;
    background-color: #fda31c;
    padding: 15px 0;
    width: 300px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    span {
        margin-left: 32px;
        font-size: 32px;
    }
    img {
        margin-left: 20px;
        height: 70px;
    }
}