.player {
    padding: 10px 0;
    display: flex;
    align-items: center;
    background-color: #6b6a68;
    width: 300px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    span {
        margin-left: 32px;
        font-size: 32px;
    }
    img {
        margin-left: 20px;
        height: 40px;
    }
}

.active-player{
    background-color: #fda31c;
}