<div class="game-field">
    <div class="card-stack">
        <img *ngFor="let c of [0,1,2,3,]; let i = index;" [ngStyle]="{'right.px': i * 5}" src="assets/img/cards/red_back.png" alt="card-stack">
        <img *ngIf="animationCompleted" class="top-card" (click)="takeCard()" [class.flip-top-card]="!topCardFlipped" [ngStyle]="{'right.px': 20}" src="assets/img/cards/red_back.png" alt="card-stack">
        <img *ngFor="let card of game.playedCards" class="played-card" (click)="takeCard()" [ngStyle]="{'right.px': 20}" src="assets/img/cards/{{ card }}.png" alt="card-stack">
        <img *ngIf="pickCardAnimation" class="take-card" (click)="takeCard()" [ngStyle]="{'right.px': 20}" src="assets/img/cards/{{ currentCard }}.png" alt="card-stack">
    </div>
</div>