<div class="game-field">
    <div class="card-stack">
        <img *ngFor="let c of [0,1,2,3,]; let i = index;" [ngStyle]="{'right.px': i * 5}"
            src="assets/img/cards/red_back.png" alt="card-stack">
        <img class="top-card" (click)="takeCard()" [class.flip-top-card]="pickCardAnimation" [ngStyle]="{'right.px': 20}"
            src="assets/img/cards/red_back.png" alt="card-stack">
        <img *ngIf="pickCardAnimation" class="take-card" (click)="takeCard()" [ngStyle]="{'right.px': 20}"
            src="assets/img/cards/clubs_1.png" alt="card-stack">
    </div>
</div>