.game-field {
    height: 100vh;
    width: 100vw;
    background-image: url("/assets/img/board.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-stack {
    position: relative;
    img {
        position: absolute;
        width: 120px;
    }
}

.top-card {
    transition: all ease-out 125ms;
    &:hover {
        transform: scale(1.01) translateY(-20px);
        cursor: pointer;
    }
}

.flip-top-card {
    transition: all 500ms ease-in-out;
    transform: scale(1.01) translateY(-20px) rotateY(-90deg) !important;
}

.take-card {
    animation: pick-card-animation 2s ease-in-out;
    transform: scale(1.2) translateY(-200px) translateX(150px) rotate(-10deg) rotateY(-180deg);
}

@keyframes pick-card-animation {
    0% {
        transform: scale(1) rotateY(-90deg) translateY(-20px);
    }
    
    25% {
        transform: scale(1) rotateY(-90deg) translateY(-20px);
    }
    50%{
        transform: scale(1) rotateY(-180deg) translateY(-20px);
    }
    100% {
        transform: scale(1.2) translateY(-200px) translateX(150px) rotate(-10deg) rotateY(-180deg);
    }
}
